@import "normalise";


$primary-color: #d45500;
$light-grey: #f1f1f1;
$dark-grey: #888888;
$darker-grey: #222222;


body
{
	background-color: $light-grey;
	color: $dark-grey;
	font-family: "Roboto", cursive;
	font-size: 2em;
}

.container
{
	margin: auto;
	width: 50%;
}

.title
{
	color: $darker-grey;
	font-family: 'Baumans', cursive;
	font-size: 3em;
	padding: 0px;
	text-transform: lowercase;
	word-spacing: -0.2em;
}

.button-x
{
	background-color: $primary-color;
	color: $light-grey;
	padding: 0.1em;
}


/* Helper classes */
.center
{
	text-align: center;
}